html, body {
	width: 100%;
	height: 100%;

	margin: 0;
	padding: 0;

	font-family: 'Gotham A', 'Gotham B';
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	font-style: normal;
}

.frontPage {
	position: absolute;

	width: 100%;
	height: 100%;

	background-image: url('img/bg1600x.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;

	text-align: center;

	z-index: 999;
}

.frontPage h1 {
	color: #ff2233;
	font-size: 6rem;
	cursor: pointer;
}

.contact {
	background: #fff;
	color: #333;
	width: 100%;
	height: 100%;

	z-index: 899;
}
.contact h1 {
	font-size: 6rem;
}

.contact h2 {
	font-style: italic;
	font-size: 1.5rem;
}

.contact div div div p {
	margin-top: 15px;
	margin-bottom: 15px;
}

.contact a {
	color: #ff2233;
}

@media (max-width: 1280px) {
	.frontPage {
		width: 100%;
		background-image: url('img/bg1280x.jpg');
	}
}

@media (max-width: 1024px) {
	.frontPage {
		width: 100%;
		background-image: url('img/bg1024x.jpg');
	}

	.frontPage h1 {
		font-size: 4rem;
	}

	.contact h1 {
		font-size: 4rem;
	}
}

@media (max-width: 568px) {
	.frontPage {
		display: none;

	}

	.contact h1 {
		font-size: 2rem;
	}
	.contact h2 {
		font-size: 1rem;
	}
}